@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

:root {
  --main-color: #fd4646;
  --text-color: #171427;
  --bg-color: #fff;
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
}
.container {
  max-width: 1068px;
  margin: auto;
  width: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.logo {
  width: 100px;
  margin-top: 10px;
  /* height: 100px; */
  /* margin-top: 25px; */
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 550;
}
#cart-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 10px;
}
.menu-img {
  width: 28px;
  margin-left: 20px;
  display: none;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  background: var(--bg-color);
  width: 360px;
  min-height: 100vh;
  padding: 20px;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 3ms;
}
.cart.active {
  right: 0;
}
.cart-title {
  text-align: center;
  /* box-shadow: 0 2px hsl(0 4% 15% / 10%); */
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
}
.cart-content {
  padding: 5px;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10px;
}
.cart-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
  border-radius: 10px !important;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}
.cart-product-title {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.cart-price {
  font-weight: 500;
}
.cart-quantity {
  border: 1px solid var(--main-color);
  padding: 1px 5px;
  font-size: 14px;
  font-weight: 400;
  width: 2.7rem;
  outline-color: var(--text-color);
  border-radius: 5px;
  text-align: center;
}
.cart-remove {
  font-size: 24px;
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: end;
  border-top: 2px solid var(--text-color);
  margin-top: 1.3rem;
}
.total-title {
  font-size: 1.1rem;
  font-weight: 600;
}
.total-price {
  margin-left: 0.5rem;
}
.btn-buy {
  display: flex;
  margin: 1.6rem auto;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  border-radius: 7px;
  cursor: pointer;
  outline: 0;
  padding: 10px 17px;
  border: none;
}
.btn-buy:hover {
  background: slateblue;
  transition: 2s;
}
.cart-close {
  position: absolute;
  top: 2rem;
  right: 0.6rem;
  color: var(--text-color);
  font-size: 2rem;
  cursor: pointer;
}

/* Produnt section */
.shop {
  margin-top: 2rem;
  padding:0 5px;
}
.section-title {
  font-size: 3.1rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.7rem;
}
.shop-content {
  max-width: 1100px;
  margin: auto;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px !important;
}
.product-details {
  width: 350px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 5px 3px 4px 5px hsla(0, 3%, 3%, 0.3);
  border-radius: 10px;
}
.product-details:hover {
  padding: 10px;
  transition: 2s;
}
.product-img {
  width: 100%;
  height: 240px;
  border-radius: 5px;
}
.product-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 6px;
}
.rating {
  color: coral;
  padding: 2px 5px;
}
.price {
    padding: 2px 6px;
  font-size: 17px;
  font-weight: 600;
}
.order-details {
  display: inline;
  text-align: center;
  justify-content: center;
}
button {
  display: inline;
  margin-left: 12em;
  cursor: pointer;
  font-size: 15px;
  padding: 6px 6px;
  border-radius: 5px;
  background: rgb(13, 184, 13);
  color: var(--bg-color);
  outline: none;
  font-weight: medium;
  border: none;
   /* margin-top: -5px; */
   margin-bottom: 5px; 
}
button:hover {
  background: coral !important;
  transition: 2s;
  color: #fff;
  margin-top: 7px !important;
}

/* latest section */
.latest-section {
  max-width: 1080px;
  margin: auto;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px !important;
}
.latest-section .product-details {
  transition: transform 0.5s;
}
.latest-section .product-details:hover {
  transform: translateY(-7px);
  cursor: pointer;
}
.product-header {
  text-align: center;
  margin: 0 auto 70px;
  font-size: 40px;
  position: relative;
  color: #555;
  line-height: 60px;
  margin-top: 20px;
}
.product-header::after {
  content: "";
  background: coral;
  position: absolute;
  width: 100px;
  height: 5px;
  bottom: 0;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
}
.product-latest-details {
  width: 350px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 5px 3px 4px 5px hsla(0, 3%, 3%, 0.3);
  border-radius: 10px;
  transition: transform 0.5s;
}
.product-latest-details:hover {
  transform: translateY(-7px);
  cursor: pointer;
}

/* testimonial */
.testimonial {
  padding-top: 50px;
}
.testimonial-section {
  width: 1100px;
    margin: auto;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.testimonial-section .col-3 {
  text-align: center;
  padding: 30px 20px;
  box-shadow: 5px 3px 4px 5px hsla(0, 3%, 3%, 0.3);
  border-radius: 8px;
  transition: transform 0.5s;
}
.testimonial-section .col-3:hover {
  transform: translateX(6px);
  cursor: pointer;
}
.testimonial-section .col-3 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.col-3 p {
  color: #777;
  margin: 12px 0;
}
.testimonial-section .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 18px;
}


/* Footer section */
.footer {
  background: #000;
  color: #8a8a8a;
  padding: 30px 0 20px;
  font-size: 14px;
  margin-top: 70px;
}
.footer-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top:40px;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
  cursor: pointer;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 8px;
}
.footer-col-3, .footer-col-4 {
  flex-basis: 12%;
  text-align: center;
  line-height: 2.5;
}
ul {
  list-style: none;
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright {
  text-align: center;
  margin-top: 6px;
}

/* Media query for menu  */
@media only screen  and (max-width:800px){
  nav ul {
    position: absolute;
    background: #333;
    top:70px;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display:block;
    margin-right: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-img {
    display: block;
    cursor: pointer;
  }
  .section-title {
    font-size: 1.3rem;
    margin-top: -29px;
  }
  .shop-content {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-details  {
    width: 320px;
  }
  button {
    margin-top: -35px;
  }
  .latest-section {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-header {
    font-size: 1.4rem;
    margin-top: -15px;
    margin-bottom: 10px;
  }
  .product-latest-details {
    width: 320px;
  }
  .testimonial-section {
    width: 320px;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}
.footer {
  margin-top: 15px;
  border-radius: 5px;
  height: 100%;
  margin:20px  auto;
}
  .footer-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    margin-top: -30px;
    font-size: 14px;
    line-height: 1;
  }

}


@media only screen  and (max-width:600px) {
  .logo {
    width: 50px;
    height: 50px;
  }
  .section-title {
    font-size: 1.1rem;
    margin-top: -12px;
  }
  .shop-content {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .product-details  {
    width: 300px;
  }
  button {
    margin-top: -35px;
  }
  .latest-section {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .product-header {
    font-size: 1.4rem;
    margin-top: -15px;
    margin-bottom: 10px;
  }
  .product-latest-details {
    width: 300px;
  }
  .testimonial-section {
    width: 300px;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}
.footer {
  width: 300px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  border-radius: 5px;
}
  .footer-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    margin-top: -30px;
    font-size: 14px;
    line-height: 1;
  }
}